* {
    box-sizing: border-box;
    font-family: 'Baloo Tamma 2', cursive;
    color: rgb(255,255,255);
}
p {
    font-family: 'IBMPlexSansKR-Regular';
}
body {
    background-color: rgb(36,41,67);
   }
.nav-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: darkslategray;
    position: fixed;
    top: 0;
}
.nav-item {
    padding: 15px;
    cursor: pointer;
}
.nav-item:first-child {
    padding-right: 30px;
}
.nav-item:hover {
    background-color: rgba(111, 195, 223, 0.7);
}
.nav-item a {
    text-align: center;
    text-decoration: none;
    color: white;
}
#banner {
    padding: 150px 0 80px 0;
    margin-left: 3em;
    margin-right: 3em;
}
#banner h1 {
    font-size: 3em;
    border-bottom-style: solid ;
}

.container {
    display: flex;
    flex-wrap: wrap;
}
.col {
    height: 300px;
    background-size: cover;
}
.col-1 {
    width: 60%;
}
.col-2 {
    width: 40%;
}
.link {
    text-decoration: none;
    border-bottom-style: solid;
    font-size: 30px;
    margin-left: 30px;
}
p {
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
}

#footer {
    height: 15%;
    margin: 1em;
}
#icons {
    list-style: none;
    margin: 0;
    padding: 0;
}   
#icons li {
    float: left;
}
#icons li a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
#item1 {
    background:linear-gradient(0deg, rgba(111, 195, 223, 0.7), rgba(111, 195, 223, 0.7)), url('imagesfor1st/6dogs.jpg'); 
}  
#item1:hover {
    background: url('imagesfor1st/6dogs.jpg');
  } 
#item2 {
    background: linear-gradient(0deg, rgba(141, 130, 196, 0.7), rgba(141, 130, 196, 0.7)), url('imagesfor1st/travel.jpg');
}  
#item2:hover {
    background: url(imagesfor1st/travel.jpg);
}
#item3 {
    background: linear-gradient(0deg, rgba(236, 141, 129, 0.7), rgba(236, 141, 129, 0.7)), url('imagesfor1st/knitting.jpg');
}  
#item3:hover {
    background: url(imagesfor1st/knitting.jpg);
}
#item4 {
    background: linear-gradient(0deg, rgba(200, 183, 136, 0.5), rgba(231, 183, 136, 0.7));
}  
#item5 {
    background: linear-gradient(0deg, rgba(100, 169, 232, 0.5), rgba(142, 169, 232, 0.7));
} 
#item6 {
    background: linear-gradient(0deg, rgba(100, 197, 164, 0.7), rgba(135, 197, 164, 0.7));
}  


